@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap'); 
@import url();

:root {
    --background-color: black;
    --font-color: white;
}

* {
    text-align: center;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

body {
    /* background-color: var(--background-color); */
    background-image: url(./background-image.jpg);
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

header  {
    /* background-color: var(--background-color);
    box-shadow: black  0 10px 10px; */
}

/* Pop quiz title  */
h1 {
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 75px;
    padding: 27px;
    flex-wrap: wrap;
    
}

/* time left title  */
h2 {
    text-align: center;
    font-size: 45px;
    font-family: 'Bungee Outline', cursive;
    color: white;
    padding: 50px;
    flex-wrap: wrap;
}

/* footer text  */
h3 {
    text-align: center;
    font-size: 13px;
    bottom: 10px;
    font-family: 'Bungee Shade', cursive;
    color: white;
}

/* contains starting timer  */
.container{
    display: block;
    flex-wrap: wrap;
}

/* starting timer */
#start {
    font-family: 'Bungee', cursive; 
    font-size: 25px;
    color: white;
    padding: 50px;
}

/* main box that contains time left, questions, select, and score  */
.card {
    border: 2px double white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 1025px;
    height: 575px;
    flex-wrap: wrap;
}

/* time left, questions, select, and score */
#box {
    margin: 20px;
    padding: 25px;
}

#submit {
    margin: 85px;
    font-size: 15px;
}

#results {
    font-size: 35px;
    color: white;
    display:inline-flex;
    font-family: 'Bungee Outline', cursive;
}

/* questions  */
p {
    text-align: center;
    font-size: 35px;
    font-family: 'Bungee Inline', cursive;
    color: white;
    margin: 15px;
}

@media screen and (max-width: 768px) {

    header,
    footer,
    main {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}